<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Renamepler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Renamepler.Properties.Settings>
            <setting name="OpenDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverallStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerRuleStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverallFilenames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerRuleFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecursiveSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="AskBeforeLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskBeforeClear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyFirst" serializeAs="String">
                <value>True</value>
            </setting>
        </Renamepler.Properties.Settings>
    </userSettings>
</configuration>